# Java / Maven
target/
*.class

# Angular
node_modules/
dist/

# IDE-Dateien
.idea/
*.iml
.vscode/

# Umgebungsvariablen
.env
*.env

# DB-Dateien
*.db

# Obsidian
.obsidian/

# text
*.txt

# special folders
notes/

# Scripts
scripts/create-webapp.ps1
scripts/create-benachrichtigung-containerapp.ps1
scripts/create-konto-containerapp.ps1
