<div class="filter-leiste">

  <label for="filter-iban" class="filter-leiste__label">IBAN</label>
  <select id="filter-iban" class="filter-leiste__input" [(ngModel)]="ibanFilter" (change)="laden()">
    <option value="">Alle Konten</option>
    <option *ngFor="let konto of konten" [value]="konto.iban">
      {{ konto.inhaber }} - ({{ konto.iban }})
    </option>
  </select>

  <label for="filter-timestamp-von" class="filter-leiste__label">von:</label>
  <input id="filter-timestamp-von" type="datetime-local" class="filter-leiste__input" [(ngModel)]="filterVon" (change)="laden()" />

  <label for="filter-timestamp-bis" class="filter-leiste__label">bis</label>
  <input id="filter-timestamp-bis" type="datetime-local" class="filter-leiste__input" [(ngModel)]="filterBis" (change)="laden()" />

</div>